<div class="text-center">
    <img src="/img/fondo.jpg" style="z-index: 0; position:absolute; top:0; left:0; width:100vw; height:100vh;">
    <img src="/img/tutorial.png" style="position: relative;" width="100%"></br>
    <a href='@Url.Action("Pregunta","Home")' class="btn btn-success" style="position:absolute; top: 90%">Continuar</a>
</div>